@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  .default-text {
    @apply text-black dark:text-white;
  }
  :root {
    color-scheme: light dark;
  }
  body {
    @apply default-text;
  }
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  h4 {
    @apply text-base font-semibold;
  }
  h5 {
    @apply text-sm font-semibold;
  }
}

@layer components {
  .btn {
    @apply inline-flex justify-center align-middle transition-all duration-300 py-2 px-4 rounded-full disabled:contrast-50 hover:contrast-75 default-text;
  }
  .text-field {
    @apply transition-colors duration-300 bg-transparent outline-none border border-grey dark:border-grey-dark rounded-md px-2 text-base focus:border-black dark:focus:border-white text-black dark:text-white disabled:contrast-125 disabled:border-grey-dark dark:disabled:contrast-0;
  }
  .test {
    @apply border-success dark:border-success-dark focus:border-success-dark dark:focus:border-success;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}
